<h1>All Your Complaints</h1>
<ol class="breadcrumb">
	<li class="active">My Complaints</li>
</ol>
<table class="table table-striped ">
	<thead>
		<tr>
			<th>#</th>
			<th>Name Of Episode</th>
			<th>Type Of Violation</th>
			<th>Date Added</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="complaint in complaints.list">
			<td>{{$index + 1}}</td>
			<td>{{complaint.episodeName}}</td>
			<td><span ng-repeat="violationType in complaint.violationTypes"> <span class="label label-success">{{violationType.name}} &nbsp;</span> </span></td>
			<td>{{complaint.date}}</td>
			<td>{{complaint.status}}</td>
			<td><a href="#/complaint/{{complaint.id}}" class="btn btn-default">View
					Details</a></td>
		</tr>
	</tbody>
</table>
