<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">iDelo</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-show="showUserMenu" id="user-new-complaint"><a href="#newComplaint">New Complaint</a></li>
                <li ng-show="showUserMenu"  id="user-complaints"><a href="#myComplaints">My Complaints</a></li>
                <li ng-show="showAdminMenu" id="all-citizens"><a href="#allCitizens">All Citizens</a></li>
                <li ng-show="showAdminMenu" id="new-crime-add"><a href="#newComplaintType">New Complaint Type</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;Search&nbsp;<b class="caret"></b></a></a>
                    <ul class="dropdown-menu" style="min-width: 275px">
                        <li style="padding: inherit;">
                            <form class="form-inline" role="search" style="margin-left:10px">
                                <div class="form-group">
                                    <input ng-model="query" type="text" class="form-control"
                                           placeholder="Search For ...">
                                </div>
                                <a type="submit" class="btn btn-default" href="#search/{{query}}">Go</a>
                            </form>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#detailed-search"><span class="glyphicon glyphicon-zoom-in"></span>&nbsp;Advanced Search</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon glyphicon-user"></span>&nbsp;{{userName}}
                    <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href=""><span class="glyphicon glyphicon-cog"></span>&nbsp;My profile</a></li>
                        <li ng-click="doAdminLogin()"><a href="" ><span class="glyphicon glyphicon-flash"></span>&nbsp;Log in as admin</a></li>
                        <li class="divider"></li>
                        <li ng-click="logout()"><a href="login.html"><span class="glyphicon glyphicon-off"></span>&nbsp;Logout</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>