body {
	background-image: url('../../img/common/body.png');
}

#map_canvas {
    height: 400px;
    width: 600px;
}

dl>dt {
    font-size: 18px !important;
    font-weight: bolder;
}

dl>dd {
    font-size: 16px !important;
    font-weight: lighter;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.compImages {
    float: left;
}